.item {
  display: flex;
  align-items: center;

  margin-bottom: 10px;
}

.text {
  margin-right: 15px;

  font-size: 18px;
  font-weight: 500;
}
.tablePosition {
  text-align: center;
}
.button {
  width: fit-content;
  background-color: rgb(138, 74, 127);
  color: white;
  border: 0.5px solid black;
  border-radius: 4px;
  height: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: none;
  height: auto;
}

.button:hover {
  background-color: white;
  color: rgb(138, 74, 127);
  border: 1px solid rgb(138, 74, 127);
  font-weight: 700;
}

.text {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
