.btn {
  background-color: rgb(138, 74, 127);
  border: none;
  border-radius: 4px;
  padding: 5px;
  color: white;
}

.btn:hover {
  background-color: white;
  color: rgb(138, 74, 127);
  border: 1px solid rgb(138, 74, 127);
}
